.loader_size-s {
  width: 50%;
  background-color: skyblue;
}

.loader_size-m {
  width: 75%;
  background-color: skyblue;
}

.loader_size-l {
  width: 100%;
  background-color: skyblue;
}

.loader-color {
  color: red;
  background-color: black;
}
